/.idea/
/celo.sln.DotSettings.user
/Domain/obj/
/Domain/bin/
/DataGenerator/obj/
/DataGenerator/bin/
/Data/bin/
/Data/obj/
/Integration/bin/
/Integration/obj/
/RandomUserApi/bin/
/RandomUserApi/obj/
/UnitTests/bin/
/UnitTests/obj/
